@color1: red;
@color2: orange;
@color3: pink;
@color4: blue;
@color5: yellow;
// @color6: red;
// @color7: red;

// 居中
.center() {
    display: flex;
    // justify-content: center;
    align-items: center;
}


// 添加方块
.add() {
    width: 100%;
    height: 17%;
    // flex-grow: 1;
    // flex-shrink: 0;
    // margin-left: 5.5%;
    // margin-top: 10%;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 900px;
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe4b5;
    position: relative;


}

.red {
    .add();
    background-color: @color1;


}

.orange {
    .add();
    background-color: @color2;
}

.pink {
    .add();
    background-color: @color3;
}

.blue {
    .add();
    background-color: @color4;
}

.yellow {
    .add();
    background-color: @color5;
}

// 上移一段距离
/* .up{
    margin-bottom: 100px;

} */





.bot {
    width: 10%;
    // height: 30%;
    aspect-ratio: 40 / 100;
    // max-width: 100%;
    background-color: transparent;
    margin-right: 40px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    // background-repeat: 5px;
    border-radius: 8px;
    background-image: url(./image/水瓶.svg);
    background-size: cover;
    background-position: center;
    .center();
    // 给里面加上顶
    // padding: 6% 10% .7% 10%;
    padding: 5.5% .6% .76% 1.18%;
    box-sizing: border-box;
    // padding-top: 6%;
    // padding-bottom: .7%;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    // aspect-ratio: 35 / 100;
}


/* .bot::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 30%;
    width: 20%;
    height: 30%;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
    pointer-events: none;
    
} */

@keyframes liquidShake {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.1);
    }
}

.bot>div {
    // border-radius: 8px;
    /* 加上透明度，模拟液体通透感 */
    opacity: 0.9;
    /* 加个内阴影，模拟瓶壁反光 */
    // box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.4),
    //     inset 0 -2px 4px rgba(0, 0, 0, 0.1);
    animation: liquidShake 2s ease-in-out infinite;
    transform-origin: bottom;
    /* 从底部缩放，像液面波动 */
}

.bot>div:first-child {
    border-radius: 2px 2px 0 0;

}